/* Sign In Button Styles */
/* #signInBtn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#signInBtn:hover {
    background-color: #0056b3;
} */

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

/* Close Button */
.close-button ,.close-buttonSu{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus,
.close-buttonSu:hover,
.close-buttonsu:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Sign In Form Styles */
#signInForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#signInForm input[type="email"],
#signInForm input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#signInForm button[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#signInForm button[type="submit"]:hover {
    background-color: #0056b3;
}
